{% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/jquery.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/jquery-migrate.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/bootstrap.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/jRespond.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/hammerjs.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/jquery.hammer.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/smoothscroll.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/smart-resize.js' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/jquery.validate.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/jquery.form.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/j-forms.js' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/login-validation.js' %}">
{#for submission#}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="{% static 'js/spec/main.js' %}"></script>
 </body>
</html>